.btn {
    all: unset;
    cursor: pointer;
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 3rem;
    text-transform: capitalize;
    font-family: inherit;
    font-weight: $fw-bold;
    letter-spacing: 1px;
    color: $color-white;
    transition: 300ms ease;

    &:hover {
        opacity: .85;
    }


    &--dark {
        background-color: $color-dark;

    }

    &--pink {
        background-image: $gradient-pink;
    }

    &--fancy {
        background-image: $gradient-fancy;
    }
}