.btn {
    all: unset;
    cursor: pointer;
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 3rem;
    text-transform: capitalize;
    font-family: inherit;
    font-weight: $fw-bold;
    letter-spacing: 1px;
    color: $color-white;
    transition: 300ms ease;

    &:hover {
        opacity: .85;
    }

    &--theme {
        all: unset;
        cursor: pointer;
        font-size: 1.5rem;
        color: $color-dark;
    }

    &--theme-light {
        color: $color-bg;
    }

    &--dark {
        font-size: .85rem;
        padding: .25rem .75rem;
        background-color: $color-dark;

        @include mediaq('md') {
            padding: .5rem 1rem;
            font-size: 1rem;
        }
    }

    &--light {
        background-color: $color-bg;
        color: $color-dark;
    }

    &--pink {
        background-image: $gradient-pink;
    }

    &--fancy {
        background-image: $gradient-fancy;
    }
}