html, body {
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    background-color: $color-bg;
    font-size: $font-size;
    line-height: $reg-line-height;
    color: $color-gray;
    font-family: $font-fam;
    transition: background-color 300ms ease;
}

a {
    text-decoration: none;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 3rem 0;
}