
.heading {
    &--main {
        font-size: $main-heading-font-size;
        line-height: $main-heading-line-height;
        color: $color-dark;
        margin-bottom: 1.5rem;
    }

    &--secondary {
        font-size: $secondary-heading-font-size;
        line-height: $secondary-heading-line-height;
    }

    &--third {
        font-size: $third-heading-font-size;
        line-height: $reg-line-height;
        color: $color-dark;
        margin: 1.5rem 0;
    }
}

.text {
    font-size: 1.125rem;
    line-height: $reg-line-height;
    margin-bottom: 1.5rem;


    &--lead {
        font-size: 1.35rem;
        line-height: 2rem;
    }
}